* {
    box-sizing: border-box;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
   float: left;
   border-right: 1px solid #bbb;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
}

.navbar li:last-child {
    border-right: none;
}

.navbar{
    clear: both;
}

.active {
    background-color: #2F4F4F;
}

.clear {
  clear: both;
}


body{
    background-color: #D3D3D3;
}
.grid-element {
  width: 340px;
  height: 340px;
  float: left;
  border: 1px solid black;
  margin: 40px;
  text-align: center;
  background-color: white;
}

.productImage {
    width: 200px;
    height: 200px;
    margin: 38px;
}

.gifImage{
     width: 250px;
     height: 250px;
     margin: 20px 20px 10px 20px;
}

#siteHeader{

}

#scrollDiv{
    position: absolute;
    left: 1000px;
    top: 600px;
    background: blue; /* For browsers that do not support gradients */
    background: linear-gradient(to right,  rgb(135,206,250), rgba(135,206,250,0)); /* Standard syntax (must be last) */ /*Standard*/
}

#wrapper {
  margin-right: 200px;
}
#content {
    position: relative;
  float: right;
  clear: left;
  background-color: white;
  top: -180px;

  width: 836px;

}

.caption {
  display: block;
  font-size: 1.3em;
}

#sidebar {
  float: left;
  width: 430px;
  height:500px;
  margin-right: -200px;
  background-color: #808080;
}
#bannerImg{
    float: right;
}

.portfolioHeader{
    text-align: center;
}

.centerContainer{
    text-align: center;
}
#profilePicture{
    width: 300px;
    height: 300px;
}

.artStatment{
    margin: 100px;
}


