* {
    box-sizing: border-box;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
   float: left;
   border-right: 1px solid #bbb;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
}

.navbar li:last-child {
    border-right: none;
}

.navbar{
    clear: both;
}

.active {
    background-color: #4CAF50;
}

.clear {
  clear: both;
}

#grid {
  width: 100%;
  height: 100%;
  background-color: red;
}

main{
 background-color: red;
}

body{
    background-color: #D3D3D3;
}
.grid-element {
  width: 340px;
  height: 340px;
  float: left;
  border: 1px solid black;
  margin: 40px;
  text-align: center;
  background-color: white;
}

.productImage {
    width: 200px;
    height: 200px;
    margin: 38px;
}

.gifImage{
     width: 250px;
     height: 250px;
     margin: 20px 20px 10px; 20px;
}

#siteHeader{

}

#scrollDiv{
    position: absolute;
    left: 1000px;
    top: 600px;
    background: blue; /* For browsers that do not support gradients */
    background: linear-gradient(to right,  rgb(135,206,250), rgba(135,206,250,0)); /* Standard syntax (must be last) */ /*Standard*/
}


